.app-wrapper {
    // background-color: #e1e2ed;
    background-image: url('../assets/images/plane-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}