<div class="container-fluid">
  <div class="row justify-content-center">
    <h1>Welcome to The Flight Booking System</h1>
  </div>
  <div class="content-wrapper">
    <div class="row">
      <h3>Quick Guidelines:</h3>
    </div>
    <div class="row">
      <ol>
        <li>While booking, eneter proper flight id (having 4 digit number)</li>
        <li>Number of tickets can not be more than 40</li>
      </ol>
    </div>
    <div class="row">
      <button class="btn btn-dark">Got it!</button>
    </div>
  </div>
</div>
